$air-utility-zooms: (
  "05": 0.5,
  "06": 0.6,
  "07": 0.7,
  "08": 0.8,
  "09": 0.9,
  "1": 1,
  "11": 1.1,
  "12": 1.2,
  "13": 1.3,
  "14": 1.4,
  "15": 1.5,
) !default;

$air-utility-animations: (
  0: none,
  1: all 0.1s ease-in-out,
  2: all 0.2s ease-in-out,
  3: all 0.3s ease-in-out,
  4: all 0.4s ease-in-out,
  5: all 0.5s ease-in-out,
  6: all 0.6s ease-in-out,
  7: all 0.7s ease-in-out,
  8: all 0.8s ease-in-out,
  9: all 0.9s ease-in-out,
  10: all 1s ease-in-out
) !default;

$air-utility-aspect-ratios: (
  "1-1": #{"1 / 1"},
  "2-3": #{"2 / 3"},
  "3-2": #{"3 / 2"},
  "4-3": #{"4 / 3"},
  "3-4": #{"3 / 4"},
  "16-9": #{"16 / 9"},
  "9-16": #{"9 / 16"},
) !default;

$air-utility-card-bg-color: var(--bs-body-bg) !default;
$air-utility-card-color: var(--bs-body-color) !default;
$air-utility-card-shadow: 0 0 var(--shadow-soft-blur) var(--shadow-soft-spread) var(--shadow-soft-color) !default;
$air-utility-card-padding: 14px 16px !default;
$air-utility-card-border-radius: 4px !default;

$air-utility-card-sm-padding: 10px 10px !default;
$air-utility-card-sm-border-radius: 4px !default;

$air-utility-card-lg-padding: 18px 20px !default;
$air-utility-card-lg-border-radius: 4px !default;

$air-utility-msg-bg-color: var(--bs-body-bg) !default;
$air-utility-msg-color: var(--bs-body-color) !default;
$air-utility-msg-shadow: 0 0 var(--shadow-soft-blur) var(--shadow-soft-spread) var(--shadow-soft-color) !default;
$air-utility-msg-padding: 0.5rem 0.75rem !default;
$air-utility-msg-border-radius: 6px !default;

$air-utility-msg-sm-padding: 0.3rem 0.55rem !default;
$air-utility-msg-sm-border-radius: 6px !default;

$air-utility-msg-lg-padding: 0.7rem 0.9rem !default;
$air-utility-msg-lg-border-radius: 6px !default;

$air-utility-tag-bg-color: var(--bs-body-bg) !default;
$air-utility-tag-color: var(--bs-body-color) !default;
$air-utility-tag-shadow: 0 0 var(--shadow-soft-blur) var(--shadow-soft-spread) var(--shadow-soft-color) !default;

$air-utility-tag-padding: 0.2rem 0.35rem !default;
$air-utility-tag-border-radius: 4px !default;
$air-utility-tag-border-font-size: 14px !default;

$air-utility-tag-sm-padding: 0.1rem 0.3rem !default;
$air-utility-tag-sm-border-radius: 4px !default;
$air-utility-tag-sm-border-font-size: 12px !default;

$air-utility-tag-lg-padding: 0.25rem 0.4rem !default;
$air-utility-tag-lg-border-radius: 4px !default;
$air-utility-tag-lg-border-font-size: 16px !default;

$air-utility-sc-bg-color: var(--bs-body-bg) !default;
$air-utility-sc-color: var(--bs-body-color) !default;

$air-utility-blurs: (
  "0": "none",
  5: blur(0.5px),
  10: blur(1px),
  15: blur(1.5px),
  20: blur(2px),
  25: blur(2.5px),
  30: blur(3px),
  35: blur(3.5px),
  40: blur(4px),
  45: blur(4.5px),
  50: blur(5px),
  55: blur(5.5px),
  60: blur(6px),
  65: blur(6.5px),
  70: blur(7px),
  75: blur(7.5px),
  80: blur(8px),
  85: blur(8.5px),
  90: blur(9px),
  95: blur(9.5px),
  100: blur(10px),
) !default;

$air-utility-border-responsive: false !default;
$air-utility-border-radius: (
  pill: var(--bs-border-radius-pill),
  0: 0px,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
  10: 10px,
  11: 11px,
) !default;

$air-utility-border-widths: (
  0: 0px,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
) !default;

$air-utility-font-sizes: (
  5: 5px,
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
  10: 10px,
  11: 11px,
  12: 12px,
  13: 13px,
  14: 14px,
  15: 15px,
  16: 16px,
  17: 17px,
  18: 18px,
  19: 19px,
  20: 20px,
  21: 21px,
  22: 22px,
  23: 23px,
  24: 24px,
  25: 25px,
  30: 30px,
  32: 32px,
  34: 34px,
  36: 36px,
  38: 38px,
  40: 40px,
  42: 42px,
  44: 44px,
  46: 46px,
  48: 48px,
  50: 50px,
) !default;

$air-utility-font-letter-spacings: (
  "m1": -1px,
  "m08": -0.8px,
  "m06": -0.6px,
  "m04": -0.4px,
  "m02": -0.2px,
  "0": 0px,
  "02": 0.2px,
  "04": 0.4px,
  "06": 0.6px,
  "08": 0.8px,
  "1": 1px
) !default;

$air-utility-font-weights: (
  "bold": 700,
  "regular": 400,
  "thin": 200,
  1: 100,
  2: 200,
  3: 300,
  4: 400,
  5: 500,
  6: 600,
  7: 700,
  8: 800,
  9: 900,
) !default;

$air-utility-font-line-heights: (
  "0": 0,
  "02": 0.2em,
  "04": 0.4em,
  "06": 0.6em,
  "08": 0.8em,
  "1": 1em,
  "12": 1.2em,
  "14": 1.4em,
  "16": 1.6em,
  "18": 1.8em,
  "2": 2em,
) !default;

$air-utility-font-max-lines: (
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
) !default;

$air-utility-opacities: (
  0: 0,
  5: 0.5,
  10: 0.1,
  15: 0.15,
  20: 0.2,
  25: 0.25,
  30: 0.3,
  35: 0.35,
  40: 0.4,
  45: 0.45,
  50: 0.5,
  55: 0.55,
  60: 0.6,
  65: 0.65,
  70: 0.7,
  75: 0.75,
  80: 0.8,
  85: 0.85,
  90: 0.9,
  95: 0.95,
  100: 1,
) !default;

$air-utility-position-pixels: (
  m100: -100px,
  m99: -99px,
  m98: -98px,
  m97: -97px,
  m96: -96px,
  m95: -95px,
  m94: -94px,
  m93: -93px,
  m92: -92px,
  m91: -91px,
  m90: -90px,
  m89: -89px,
  m88: -88px,
  m87: -87px,
  m86: -86px,
  m85: -85px,
  m84: -84px,
  m83: -83px,
  m82: -82px,
  m81: -81px,
  m80: -80px,
  m79: -79px,
  m78: -78px,
  m77: -77px,
  m76: -76px,
  m75: -75px,
  m74: -74px,
  m73: -73px,
  m72: -72px,
  m71: -71px,
  m70: -70px,
  m69: -69px,
  m68: -68px,
  m67: -67px,
  m66: -66px,
  m65: -65px,
  m64: -64px,
  m63: -63px,
  m62: -62px,
  m61: -61px,
  m60: -60px,
  m59: -59px,
  m58: -58px,
  m57: -57px,
  m56: -56px,
  m55: -55px,
  m54: -54px,
  m53: -53px,
  m52: -52px,
  m51: -51px,
  m50: -50px,
  m49: -49px,
  m48: -48px,
  m47: -47px,
  m46: -46px,
  m45: -45px,
  m44: -44px,
  m43: -43px,
  m42: -42px,
  m41: -41px,
  m40: -40px,
  m39: -39px,
  m38: -38px,
  m37: -37px,
  m36: -36px,
  m35: -35px,
  m34: -34px,
  m33: -33px,
  m32: -32px,
  m31: -31px,
  m30: -30px,
  m29: -29px,
  m28: -28px,
  m27: -27px,
  m26: -26px,
  m25: -25px,
  m24: -24px,
  m23: -23px,
  m22: -22px,
  m21: -21px,
  m20: -20px,
  m19: -19px,
  m18: -18px,
  m17: -17px,
  m16: -16px,
  m15: -15px,
  m14: -14px,
  m13: -13px,
  m12: -12px,
  m11: -11px,
  m10: -10px,
  m9: -9px,
  m8: -8px,
  m7: -7px,
  m6: -6px,
  m5: -5px,
  m4: -4px,
  m3: -3px,
  m2: -2px,
  m1: -1px,
  0: 0px,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
  10: 10px,
  11: 11px,
  12: 12px,
  13: 13px,
  14: 14px,
  15: 15px,
  16: 16px,
  17: 17px,
  18: 18px,
  19: 19px,
  20: 20px,
  21: 21px,
  22: 22px,
  23: 23px,
  24: 24px,
  25: 25px,
  26: 26px,
  27: 27px,
  28: 28px,
  29: 29px,
  30: 30px,
  31: 31px,
  32: 32px,
  33: 33px,
  34: 34px,
  35: 35px,
  36: 36px,
  37: 37px,
  38: 38px,
  39: 39px,
  40: 40px,
  41: 41px,
  42: 42px,
  43: 43px,
  44: 44px,
  45: 45px,
  46: 46px,
  47: 47px,
  48: 48px,
  49: 49px,
  50: 50px,
  51: 51px,
  52: 52px,
  53: 53px,
  54: 54px,
  55: 55px,
  56: 56px,
  57: 57px,
  58: 58px,
  59: 59px,
  60: 60px,
  61: 61px,
  62: 62px,
  63: 63px,
  64: 64px,
  65: 65px,
  66: 66px,
  67: 67px,
  68: 68px,
  69: 69px,
  70: 70px,
  71: 71px,
  72: 72px,
  73: 73px,
  74: 74px,
  75: 75px,
  76: 76px,
  77: 77px,
  78: 78px,
  79: 79px,
  80: 80px,
  81: 81px,
  82: 82px,
  83: 83px,
  84: 84px,
  85: 85px,
  86: 86px,
  87: 87px,
  88: 88px,
  89: 89px,
  90: 90px,
  91: 91px,
  92: 92px,
  93: 93px,
  94: 94px,
  95: 95px,
  96: 96px,
  97: 97px,
  98: 98px,
  99: 99px,
  100: 100px,
) !default;

$air-utility-position-percents: (
  1: 1%,
  2: 2%,
  3: 3%,
  4: 4%,
  5: 5%,
  6: 6%,
  7: 7%,
  8: 8%,
  9: 9%,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  35: 35%,
  40: 40%,
  45: 45%,
  50: 50%,
  55: 55%,
  60: 60%,
  65: 65%,
  70: 70%,
  75: 75%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%,
  100: 100%,
) !default;

$air-utility-rotations: (
  0: 0deg,
  10: 10deg,
  20: 20deg,
  30: 30deg,
  40: 40deg,
  50: 50deg,
  60: 60deg,
  70: 70deg,
  80: 80deg,
  90: 90deg,
  100: 100deg,
  110: 110deg,
  120: 120deg,
  130: 130deg,
  140: 140deg,
  150: 150deg,
  160: 160deg,
  170: 170deg,
  180: 180deg,
  190: 190deg,
  200: 200deg,
  210: 210deg,
  220: 220deg,
  230: 230deg,
  240: 240deg,
  250: 250deg,
  260: 260deg,
  270: 270deg,
  280: 280deg,
  290: 290deg,
  300: 300deg,
  310: 310deg,
  320: 320deg,
  330: 330deg,
  340: 340deg,
  350: 350deg,
  360: 360deg,
) !default;

$air-utility-scales: (
  "05": scale(0.5),
  "06": scale(0.6),
  "07": scale(0.7),
  "08": scale(0.8),
  "09": scale(0.9),
  "1": scale(1),
  "11": scale(1.1),
  "12": scale(1.2),
  "13": scale(1.3),
  "14": scale(1.4),
  "15": scale(1.5),
) !default;

$air-utility-shadow-soft-blur: 20px !default;
$air-utility-shadow-soft-spread: -5px !default;
$air-utility-shadow-soft-color: rgb(0 0 0 / 20%) !default;

$air-utility-shadow-medium-blur: 20px !default;
$air-utility-shadow-medium-spread: 0px !default;
$air-utility-shadow-medium-color: rgb(0 0 0 / 20%) !default;

$air-utility-shadow-hard-blur: 10px !default;
$air-utility-shadow-hard-spread: 5px !default;
$air-utility-shadow-hard-color: rgb(0 0 0 / 20%) !default;

$air-utility-shadow-soft-blur-dark: 20px !default;
$air-utility-shadow-soft-spread-dark: -7px !default;
$air-utility-shadow-soft-color-dark: rgb(0 0 0) !default;

$air-utility-shadow-medium-blur-dark: 20px !default;
$air-utility-shadow-medium-spread-dark: -5px !default;
$air-utility-shadow-medium-color-dark: rgb(0 0 0) !default;

$air-utility-shadow-hard-blur-dark: 20px !default;
$air-utility-shadow-hard-spread-dark: -2px !default;
$air-utility-shadow-hard-color-dark: rgb(0 0 0) !default;

$air-utility-shadows: (
  soft: 0 0 var(--shadow-soft-blur) var(--shadow-soft-spread) var(--shadow-soft-color),
  medium: 0 0 var(--shadow-medium-blur) var(--shadow-medium-spread) var(--shadow-medium-color),
  hard: 0 0 var(--shadow-hard-blur) var(--shadow-hard-spread) var(--shadow-hard-color),
  0: none,
  1: 0 0 1px 0 rgba(0, 0, 0, 0.2),
  2: 0 0 2px 0 rgba(0, 0, 0, 0.2),
  3: 0 0 3px 0 rgba(0, 0, 0, 0.2),
  4: 0 0 4px 0 rgba(0, 0, 0, 0.2),
  5: 0 0 5px 0 rgba(0, 0, 0, 0.2),
  6: 0 0 6px 0 rgba(0, 0, 0, 0.2),
  7: 0 0 7px 0 rgba(0, 0, 0, 0.2),
  8: 0 0 8px 0 rgba(0, 0, 0, 0.2),
  9: 0 0 9px 0 rgba(0, 0, 0, 0.2),
  10: 0 0 10px 0 rgba(0, 0, 0, 0.2),
  11: 0 0 11px 0 rgba(0, 0, 0, 0.2),
  15: 0 0 15px 0 rgba(0, 0, 0, 0.2),
  20: 0 0 20px 0 rgba(0, 0, 0, 0.2),
  25: 0 0 25px 0 rgba(0, 0, 0, 0.2),
  30: 0 0 30px 0 rgba(0, 0, 0, 0.2),
  35: 0 0 35px 0 rgba(0, 0, 0, 0.2),
  40: 0 0 40px 0 rgba(0, 0, 0, 0.2),
  45: 0 0 45px 0 rgba(0, 0, 0, 0.2),
  50: 0 0 50px 0 rgba(0, 0, 0, 0.2),
  55: 0 0 55px 0 rgba(0, 0, 0, 0.2),
  60: 0 0 60px 0 rgba(0, 0, 0, 0.2),
  65: 0 0 65px 0 rgba(0, 0, 0, 0.2),
  70: 0 0 70px 0 rgba(0, 0, 0, 0.2),
  75: 0 0 75px 0 rgba(0, 0, 0, 0.2),
  80: 0 0 80px 0 rgba(0, 0, 0, 0.2),
  85: 0 0 85px 0 rgba(0, 0, 0, 0.2),
  90: 0 0 90px 0 rgba(0, 0, 0, 0.2),
  95: 0 0 95px 0 rgba(0, 0, 0, 0.2),
  100: 0 0 100px 0 rgba(0, 0, 0, 0.2),
) !default;

$air-utility-z-indexes: (
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  1000: 1000,
  1001: 1001,
  1002: 1002,
  1003: 1003,
  1004: 1004,
  1005: 1005,
  1006: 1006,
  1007: 1007,
  1008: 1008,
  1009: 1009,
  1010: 1010,
  1011: 1011,
  1012: 1012,
  1013: 1013,
  1014: 1014,
  1015: 1015,
  1016: 1016,
  1017: 1017,
  1018: 1018,
  1019: 1019,
  1020: 1020,
  1021: 1021,
  1022: 1022,
  1023: 1023,
  1024: 1024,
  1025: 1025,
  1026: 1026,
  1027: 1027,
  1028: 1028,
  1029: 1029,
  1030: 1030,
  1031: 1031,
) !default;
